button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    background-color: #f4efe6;
    color: black;
    border: 1px, solid, #DDD7CC;
    border-radius: 12px;
    text-align: center;
    cursor:pointer;
}